body{
    font-family: 'Poppins', sans-serif;
}
span{
    color: rgb(248, 82, 110);
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight:700;
    background-image: linear-gradient(pink,rgb(241, 8, 59));
    padding: 10px 20px;
    border-radius: 230px; 
}
.head{
    display: flex;
}
.top{
    width: 50%;
    padding-left: 50px;
    padding-top: 30px;
    font-size: 30px;
}
.top img{
    width: 50%;
}
.container{
    padding-bottom: 150px;
}
.middle-container{
    background-image: url(images/Frame\ 58.jpg);
    background-size: cover;
    background-position: center;
}
.btm-female img{
    height: 500px;
    width: 500px;
    padding-left: 20%;
    margin-top: 40px;  
    padding-right: 20%;
}
.btm-txt{
    height: auto;
    width:auto;    
}
#recipie-txt{
    text-align: center;
}
.tripple-rec{
    display: flex;
}
.box{
    width: 25%;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
    margin: 4%;
}
.box img{
    align-items: center;
    width: 85%;
    border-radius:8px ;
    margin: 8%;
}
.box-txt{
    padding-left: 15px;
}
.btm-txt{
    padding-left: 500px;
}
#social-bar{
    display: flex;
    width: 92%;    
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
    margin: auto
}
.social{
    width: 80%;
    padding-left: 200px;
    padding-top: 5px;
    padding-right: px;
    border-radius: 8px;
    margin: auto
}
.pakage-all {
    display: flex;
}    
.pakage-item {
    margin: 50px auto;
    width: 33%;
    padding: 0 1%;
}
    
.price {
    list-style-type: none;
    margin: 0;
    padding: 5% 20%;
}    

.price .header {
    background-color: #fc4994;
    color: white;
    font-size: 25px;
}

.pakage-title{
    text-align: center;
}    
.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    }
    
.order-now a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: 500;
}
.footer-box{    
    padding: 50px;
    position: relative;
    top: 50px;
    background: rgb(7, 0, 2);
    text-align: center;
    color: #fff;
    margin: 0;
    height: 100px;
}